.col-md-12 {
    width: 100% !important;
    flex: 0 0 100%;
    text-align: center;
}

.wm-page-content {
    margin-left: 32px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    display:"flex";
    flex-direction:"row";
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px;
}

.card {
    -webkit-box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.16);
    box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.16);

    margin:12px;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 280px;
    height: 140px;

    display: flex;
    flex-direction: column;
    padding: 12px;
    display: flex;
    text-decoration:none;
}

.card:link {
    color:#333;
}

.card:hover {
    text-decoration:none;
    -webkit-box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.22);
    box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.22);
}

.card:active {
    border: 1px solid #ccc;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    color:#2fa4e7;
}

.card-body {
    color:#333;
    max-width: 250px;
}

.button {
    font-size: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.current-version {
    color: red;
    font-size: 22px;
    height:20px;
    border-width: 0;
    border-style: none;
    border-color: red;
}

:root {
    --main-bg-color:  #178BBB;
}

.navbar {
    background-image: url("/image/logo2.png");
    background-position: 12px;
    background-repeat: no-repeat;
    background-color: #333;
    padding-left:40px;
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
    background-color: #666;
}

.admonition.tip { /* csslint allow: adjoining-classes */
    color: #76947b;
    background-color: #e5f9e8;
    border-color: #bae3c0;
}

li:not(.wm-toc-opener){
    padding-left: 14px;
}

/* Support images with figures */
figure.image {
    padding-left:48px;
    display:inline-block;
    margin : 16px 0;
}

.image img {
    margin:0;
}

.image figcaption {
    text-align: center;
    font-size: 0.8em;
}